[submodule "ros_ws/third-party/small_gicp"]
	path = ros_ws/third-party/small_gicp
	url = https://github.com/koide3/small_gicp.git
[submodule "lidar_ros_driver/ws_30pcd_et3_ros2"]
	path = lidar_ros_driver/ws_30pcd_et3_ros2
	url = https://gitee.com/shenzhen-smart-people/ws_30pcd_et3_ros2.git
[submodule "lidar_ros_driver/odin_ros_driver"]
	path = lidar_ros_driver/odin_ros_driver
	url = https://github.com/manifoldsdk/odin_ros_driver.git
[submodule "lidar_ros_driver/livox_ros_driver2"]
	path = lidar_ros_driver/livox_ros_driver2
	url = https://github.com/Livox-SDK/livox_ros_driver2.git
[submodule "ros_ws/third-party/ros2-hikcamera"]
	path = ros_ws/third-party/ros2-hikcamera
	url = https://github.com/Alliance-Algorithm/ros2-hikcamera.git
[submodule "lidar_ros_driver/livox_sdk2"]
	path = lidar_ros_driver/livox_sdk2
	url = https://github.com/Livox-SDK/Livox-SDK2.git
