[submodule "ros_ws/third-party/small_gicp"]
	path = ros_ws/third-party/small_gicp
	url = https://github.com/koide3/small_gicp.git
[submodule "lidar_ros_driver/ws_30pcd_et3_ros2"]
	path = lidar_ros_driver/ws_30pcd_et3_ros2
	url = https://gitee.com/shenzhen-smart-people/ws_30pcd_et3_ros2.git
[submodule "lidar_ros_driver/odin_ros_driver"]
	path = lidar_ros_driver/odin_ros_driver
	url = https://github.com/manifoldsdk/odin_ros_driver.git
[submodule "lidar_ros_driver/livox_ros2_driver"]
	path = lidar_ros_driver/livox_ros2_driver
	url = https://github.com/Yukikaze2233/livox_ros2_driver.git
[submodule "rus_ws/third-party/hikcamera_sdk"]
	path = ros_ws/third-party/hikcamera_sdk
	url = https://github.com/HarryPotter1tech/hikcamera_sdk.git
[submodule "ros_ws/third-party/direct_visual_lidar_calibration"]
	path = ros_ws/third-party/direct_visual_lidar_calibration
	url = https://github.com/HarryPotter1tech/direct_visual_lidar_calibration.git
[submodule "ros_ws/third-party/hikcamera_ros_driver"]
	path = ros_ws/third-party/hikcamera_ros_driver
	url = https://github.com/HarryPotter1tech/hicamera_ros_driver.git
[submodule "ros_ws/third-party/ros2-hikcamera"]
	path = ros_ws/third-party/ros2-hikcamera
	url = https://github.com/HarryPotter1tech/ros2-hikcamera.git
